.canvas {
	width: 100%;
	
}

.tools {
	margin-top: 1em;
}

.btn-clear {
	background-color: #1f2937;
	color: white;
}

.btn-clear:hover {
	background-color: #252d38;
}

@media screen and (max-width: 480px) {

.tools {
	flex-direction: column;
}
}
  